body {
    background-color: #c1eaef;
}

header {
    padding: 1rem 20%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin:0 0 20px;
    border-color: #fff;
    justify-content: space-between;
    background-image: url(bg.jpg);
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  
}

.nav ul + li {
    margin-right: 20px;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    display: inline;
}


.nav a {
  display:block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  margin:  15px 20px 10px;
  font-weight: bold;
  color:white;
  display: inline;
}

.nav a:hover {
  display:inline-block;
  color:#c78c19;
  text-decoration: underline;
}
 
.nav li {
  display: inline;
}

img {
  width: 50%;
  height: 200%;

}

.indroducao h2 {
  font-size: 30px;
}
.indroducao h3{
  font-size: 30px;
}
.indroducao h1{
  text-align: center;
  font-size: 40px;
}